<script>
'use strict';

/* Controllers */

var imgDir = '{{ asset('bundles/prodemundialweb/img/flags/') }}';

var phonecatApp = angular.module('prodeApp', ['prodeServices', 'toastr']);

phonecatApp.controller('PredictionsCtrl', function($scope, $http, $window, Predictions, toastr) {
    $scope.predictions = Predictions.query();

    $scope.actualDate = '{{ "now" | date('Y-m-d') }}';
    $scope.imgDir = $window.imgDir;

    $scope.setGroup = function(group) {
        $scope.actualDate = "";
        $scope.phase = "";
        $scope.displayGroup = group;
    }

    $scope.setDate = function(date) {
        $scope.displayGroup = "";
        $scope.phase = "";
        $scope.actualDate = date;
    }

    $scope.setPhase = function(phase) {
        $scope.displayGroup = "";
        $scope.actualDate = "";
        $scope.phase = phase;
    }

    $scope.predictionTendency = function($event, game_id) {
        var elem = $(event.target);
        var route = Routing.generate('game_tendency', {id: game_id});
        $http.get(route).success(function(data){
            // we draw the chart
            $("#myModal .modal-title").text("Tendencia de apuestas para: " + data.game);
            console.log(data.data);
            $.plot('#myModal .modal-body', data.data, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 4 / 6,
                            formatter: function (label, series) {
                                return '<div style="font-size:10pt;text-align:center;padding:2px;color:#333;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });
            $('#myModal').modal('show')
        })
    }

    $scope.patchPrediction = function($event, prediction_id, result) {
        var elem = $($event.target);
//        Predictions.patch({predictionId: 241, })
        var route = Routing.generate('predictions_list') + prediction_id;
        var patch_data = {"prediction":{"result": result}};
        $http({method: 'PATCH', url: route, data: patch_data}).
            success(function(data, status, headers, config) {
                    if (data.message != undefined) {
                        toastr.error(data.message, 'Error al procesar el pronostico.');
                    } else {
                        clearPredictionLabels(elem);
                        toastr.success('Su pronostico fue computado correctamente.');
                    }
            }).
            error(function(data, status, headers, config) {
                toastr.error(data[0].message, 'Error al procesar el pronostico.');
            }
        );
    }
});

    function clearPredictionLabels(elem) {
        elem.closest('.row').find('span.label').removeClass('label label-success');
        elem.addClass('label label-success');
    }

</script>